/* VISUAL */

.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}

.visual .inner {
  /* 젤 위에 .inner 이미 설정완료, width 1100px, margin 0 auto, position relative */
  height: 646px;  
}

/* .visual .inner .title { } .inner부분 생략 가능 */ 
.visual .title {
  /* 구조적인 부모요소 .inner 에 이미 position relative확인됨. */
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn{  /* title 의 자식 클라스 -> title 기준으로 위치 지정됨 */
  position: absolute;
  top: 259px;
  left: 173px;   
}

/* cup1 이면서 image도 가지고 있는 (클래스 선택자 두개 붙어있는 형태). 일치 선택자 */
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  right: 162px;
  bottom: 0;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  left: 275px;
  bottom: 0;
}

.visual .fade-in {
  opacity: 0;  
  font-size: 100%;  
}

/* NOTICE */
.notice { 
  
}

.notice .notice-line {
  position: relative;  
}

.notice .notice-line .bg-left {
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;  

}

.notice .notice-line .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}

.notice .notice-line .inner {
  height: 62px;  
  display: flex;
}


.notice .notice-line .inner .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex; /* 한줄로 보이게 */  
  align-items: center;
}

.notice .notice-line .inner .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;

}

/* 슬라이드 기능 - 문장이 하나씩 돌아가면서 나타남 */
.notice .notice-line .inner .inner__left .swiper-container { 
  flex-grow: 1;
  height: 62px;
}

.notice .notice-line .inner .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;

}

.notice .notice-line .inner .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner .inner__left .notice-line__more { /*더보기 버튼 */
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center; /* 수평가운데 */
  align-items: center; /* 수직가운데 */ 

}

.notice .notice-line .inner .inner__left .notice-line__more .material-icons { /*더보기 버튼 */
  /* a태그는 기본적으로 파란색/보라색임. 흰색으로 바꿔주기 */
  color: #ccc;
  font-size: 30px;
}

.notice .notice-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  /* background-color: #f6f5ef; */
}


.notice .notice-line .inner .inner__right h2 {
  color: #333;
  font-size: 17px;
  font-weight: 700;
  
}

/* 스타벅스 프로모션 */
.notice .notice-line .inner .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner .inner__right .toggle-promotion .material-icons {  
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s; /* 밑에 접기 기능 효과: 천천히 folding/ unfolding */
  overflow: hidden; /* 접힐때 내용이 넘치치 않게 */
}

/* 접기 기능 */
.notice .promotion.hide { /* .promotion.hide 는 일치선택자 - promotion요소에 hide라는 클라스가 붙어있는 경우. */
  height: 0;
}

/* calc 함수 이용 */
/* 이미지 확대/축소시 정중앙에 오게하기 - 많이 사용 */
.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;  
  /* 확대해도 이미지가 중앙으로 유지 시켜줌.  */
  position: absolute;
  top: 40px;
  /* 왼쪽 상단의 기준선을 left 50%로 오른쪽으로 옮긴후 다시 margin-left: -1238.5px로 왼쪽으로 옮겨준다. 그러면 이미지가 확대/축소 에도 정중앙에 온다. 오른쪽도 같은 방법-결과는 같음 */
  left: 50%;
  margin-left: calc((819px * 3 + 20px)/-2);
}

.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s; /* 서서히 흐려짐 */
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* 페이지 버튼 : ㅇㅇㅇㅇㅇ */
.notice .promotion .swiper-pagination {  
  /* position: absolute; 이미 js에 내장되어 있어서 생략가능 */
  bottom: 40px;
  left: 0;
  right: 0; 
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none; /* input 요소에 focus가 되는것처럼 파란 테두리가 생기는 것 방지 */
}  

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev, /* 다중 선택자: swiper-prev & swiper-next 두개 클라스 선택 */
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  position: absolute;
  border: 2px solid #333; /* 테두리 만들기 */
  border-radius: 50%; /* 테두리 둥글게 */
  cursor: pointer;
  z-index: 1;
  top: 300px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.notice .promotion .swiper-prev:hover, 
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

.notice .promotion .swiper-prev {  
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;  
  top: 0;
  left: 0;
  position: absolute;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c789;
  top: 0;
  right: 0;
  position: absolute;
}

.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}

.rewards .btn-group { 
  position: absolute; /* btn-group 의 부모인 .inner는 전역속성으로 위위에 position: relative로 정의되어있음. */
  bottom: 24px;
  width: 250px;
  right: 0;
  display: flex;
  flex-wrap: wrap; /* 가로너비가 250px 보다 크면 줄바꿈 */

}

.rewards .btn-group .btn.sign-up{
  margin-right: 10px;  
}

.rewards .btn-group .btn.sign-in{
  width: 110px;
}

.rewards .btn-group .btn.gift{
  margin-top: 10px;
  flex-grow: 1;

}

/* <!-- YOUTUBE VIDEO --> */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  /* 유튜브 영상 위/아래 자르기 */
  overflow: hidden; 
}

.youtube .youtube__area {
  width: 1920px; /* full hd 화면 보통 1920 x 1080 */
  background-color: orange;
  position: absolute;
  /* 비디오를 중앙으로 배치 */
  left: 50%;
  margin-left: calc(1920px / -2);
  /* 비디오를 약간 위쪽에 배치해서 비디오의 중앙 부분만 보이게 - stylish */
  top: 50%;
  margin-top: calc((1920px * 9 / 16 )/-2);
}

/* css를 활용하여 youtube__area 꾸미기  */
.youtube .youtube__area::before {
  content:""; 
  display: block; /* before는 가상요소(inline)라서 가로/세로 너비를 가질 수 없으므로 block 으로*/
  width: 100%;
  padding-top: 56.25%; /* height 설정한 적 없지만 이걸로 16:9 비율의 area 만들어 줌. */
}

.youtube .youtube__cover {
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0,0,0,.3);
  position: absolute;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute; /* 부모는 youtube__area, 이미 position 값 relative로 설정되어 있음. */
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;  
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}


/* <!-- SEASON PRODUCT --> */
.season-product {  
  background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
  height: 400px;    
}

.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .inner .text-group {
  position: absolute;
  top: 110px;
  right: 100px; 
}

.season-product .inner .text-group .title {
  margin-bottom: 10px;
}
.season-product .inner .text-group .description {
  margin-bottom: 15px;
}

.season-product .inner .text-group .more {
}


/* <!-- RESERVE COFFEE --> */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {  
  left: 0;
  top: 110px;
  position: absolute;
}

.reserve-coffee .inner .text-group {
  top: 124px;
  left: 208px;
  position: absolute;
}

.reserve-coffee .inner .description {

}

.reserve-coffee .inner .btn.btn--brown {

}

.reserve-coffee .inner .product {
  top: 0;
  right: 0;
  position: absolute;
}

/* <!-- PICK YOUR FAVORITE --> */
.pick-your-favorite {  /* 패럴렉스 */
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* 이미지가 스크롤과 함께 움직이지 않고 고정 */
  background-size: cover; /* 이미지를 더 크게 사용 */
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  margin-left: 100px;
  display: flex; /* 요소들이 수평정렬이 됨 */
  width: 362px; /* 넘치는 부분이 생김 width에 비해 내용이 길기때문 */
  flex-wrap: wrap; /* 줄바꿈 */
  justify-content: flex-end ; /* 오른쪽 정렬 */
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;  
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}


/* <!-- RESERVE STORE --> */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal{  
  /* 가로사이즈는 늘어나려고 함. 명시 필요. 밑에 font/back 사이즈와 같게 함. */
  /* position: relative 필요 없음. 왜냐면 width/height 값이 완벽하게 들어있기 때문에 특별한 설정이 필요 x */
  width: 334px;
  height: 334px;
  perspective: 600px;
}

.reserve-store .medal .front,
.reserve-store .medal .back{
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;     
  position: absolute;
}

.reserve-store .medal .front{  
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal .back{
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn{
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}
/* 내가 실수했던 점 hover를 medal에 넣어야 함. medal이 지분을 차지하고 있으므로. 나는 front:hover 로 해서 효과가 먹질 않았음. */


/* <!-- FIND THE STORE --> */
.find-store {
  background-image: url("../images/find_store_bg.jpg");  
}
.find-store .inner {
  /* position: relative 이미 설정되 있음 */
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;  
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture {
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}
.find-store .picture1 {  
  left: 0;
  top: -60px;
}
.find-store .picture2 {  
  left: 250px;
  top: 150px;
}
.find-store .text-group {
  position: absolute;
  left: 550px;
  top: 120px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}


/* <!-- AWARDS  --> */
.awards {
  background-color: #272727;
}
.awards .inner { 
  padding: 40px 0;
}
.awards .swiper-container {
  width: 100%;
  height: 40px;
}

.awards .swiper-prev,
.awards .swiper-next {  
  width: 42px; /* 테두리 사이즈 */
  height: 42px;
  border: 2px solid #fff; /*화살표 감싸는 테두리 */
  border-radius: 50%; /* 화살표 감싸는 테두리 둥글게 */
  outline: none; /* 선택되었을 때 주변 outline이 파랗게 되지 않게  */
  color: #fff; /* 화살표 색 */
  opacity: .3; 
  cursor: pointer; /* 버튼이라는 것을 인지 시켜줌 */
  display: flex; /* 버튼이 테두리 정중앙 위치되게 */
  justify-content: center;  /* 좌우(수평) 중앙 */
  align-items: center; /* 상하(수직) 중앙 */ /*display, justify-content, align-items 이 세 개가 정중앙에 아이템을 위치하게 도와주는 것인가? */
  position: absolute; /* 부모는 .inner 이미 relative로 되어 있음 */
  top: 0;
  bottom: 0;
  margin: auto; /* 가운데 배치. height 값이 42px로 잘 들어가 있으므로 ok */
}

.awards .swiper-prev {
  left: -100px;
}
.awards .swiper-next {
  right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {  
  background-color: #fff;
  color: #333;
}

/* <!-- TO-TOP 최상단으로 가기 --> */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;  
  display: flex;
  justify-content: center;
  align-items: center; /* align-content와 align-items 헷갈리지 말기. */
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9;  
}